@model NUEVODOS.Models.Venta

@{
    ViewData["Title"] = "Delete";
}

<div class="container"  style="font-family:serif; font-weight: bold">
    <div class="row">
        <div class="col-sm-12">
            <br />
            <h3 class="text-center">ELIMINAR</h3>
        </div>
        <div class="col-sm-6 offset-sm-3">
                <div class="form-group">
                    <label asp-for="Idventa" class="control-label">ID de la venta</label>
                    <input asp-for="Idventa" class="form-control" disabled />
                    <span asp-validation-for="Idventa" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Placaventa" class="control-label"></label>
                    <input asp-for="Placaventa" class="form-control" disabled />
                    <span asp-validation-for="Placaventa" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Fechaventa" class="control-label">Fecha de la venta</label>
                    <input asp-for="Fechaventa" class="form-control" disabled />
                    <span asp-validation-for="Fechaventa" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Precioventa" class="control-label">Precio de la venta</label>
                    <input asp-for="Precioventa" class="form-control" disabled />
                    <span asp-validation-for="Precioventa" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Mpventa" class="control-label">Método de pago</label>
                    <input asp-for="Mpventa" class="form-control" disabled />
                    <span asp-validation-for="Mpventa" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Limitacionesventa" class="control-label">Limitaciones</label>
                    <input asp-for="Limitacionesventa" class="form-control" disabled />
                    <span asp-validation-for="Limitacionesventa" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Ciudadventa" class="control-label">Ciudad</label>
                    <input asp-for="Ciudadventa" class="form-control" disabled />
                    <span asp-validation-for="Ciudadventa" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Spventa" class="control-label">Sanción pecunaria</label>
                    <input asp-for="Spventa" class="form-control" disabled />
                    <span asp-validation-for="Spventa" class="text-danger"></span>
                </div>
            <form asp-action="Delete" class="text-center">
                <input type="hidden" asp-for="Idventa" />
                <input type="submit" value="Delete" class="btn btn-danger" />
                <a type="submit" class="btn btn-dark" asp-controller="Ventas" asp-action="Index">Cancelar</a>
            </form>
        </div>
    </div>
</div>

