@page
@model LoginModel

@{
    ViewData["Title"] = "Login";
}

<div class="row justify-content-center">
    <div class="col-md-4">
        <section>
            <form id="account" method="post" class="mt-5">
                <h2 class="text-center mb-4" style="font-family:serif">Inicia sesión en tu cuenta</h2>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.Email" class="form-label">Correo electrónico</label>
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password" class="form-label">Contraseña</label>
                    <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group form-check">
                    <input class="form-check-input" asp-for="Input.RememberMe" />
                    <label asp-for="Input.RememberMe" class="form-check-label">Recordarme</label>
                </div>
                <div class="form-group">
                    <button id="login-submit" type="submit" class="w-100 btn btn-warning">Iniciar sesión</button>
                </div>
            </form>
        </section>
        <p>
            <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Registrar nuevo usuario</a>
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
