@model NUEVODOS.Models.Compra

@{
    ViewData["Title"] = "Edit";
}


<div class="container" style="font-family:serif; font-weight: bold">
    <div class="row">
        <div class="col-sm-12">
            <br />
            <h3 class="text-center">Actualizar compra</h3>
        </div>
        <div class="col-sm-6 offset-sm-3">
            <form method="post" asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Idcompra" />
                <div class="form-group">
                    <label asp-for="Fechacompra" class="control-label">Fecha de la compra</label>
                    <input asp-for="Fechacompra" class="form-control" />
                    <span asp-validation-for="Fechacompra" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Preciocompra" class="control-label">Precio de la compra</label>
                    <input asp-for="Preciocompra" class="form-control" />
                    <span asp-validation-for="Preciocompra" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Mpcompra" class="control-label">Método de pago</label>
                    <input asp-for="Mpcompra" class="form-control" />
                    <span asp-validation-for="Mpcompra" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Limitacionescompra" class="control-label">Limitaciones</label>
                    <input asp-for="Limitacionescompra" class="form-control" />
                    <span asp-validation-for="Limitacionescompra" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Ciudadcompra" class="control-label">Ciudad</label>
                    <select asp-for="Ciudadcompra" class="form-select" id="floatingSelectDisabled" aria-label="Floating label disabled select example" required>
                        <option selected></option>
                        <option value="Bogotá">Bogotá</option>
                        <option value="Cali">Cali</option>
                        <option value="Medellin">Medellin</option>
                        <option value="Barranquilla">Barranquilla</option>
                        <option value="Cúcuta">Cúcuta</option>
                        <option value="Manizales">Manizales</option>
                        <option value="Bucaramanga">Bucaramanga</option>
                        <option value="Santa Marta">Santa Marta</option>
                        <option value="Cartagena">Cartagena</option>
                        <option value="Pereira">Pereira</option>
                        <span asp-validation-for="Ciudadcompra" class="text-danger"></span>
                    </select>
                </div>
                <div class="form-group">
                    <label asp-for="Spcompra" class="control-label">Sancion pecunaria</label>
                    <input asp-for="Spcompra" class="form-control" />
                    <span asp-validation-for="Spcompra" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Placacompra" class="control-label">Placa</label>
                    <select asp-for="Placacompra" class="form-control" asp-items="ViewBag.Placacompra"></select>
                    <span asp-validation-for="Placacompra" class="text-danger"></span>
                </div>
                <div class="form-group text-center">
                    <br />
                    <input type="submit" value="Actualizar" class="btn btn-info">
                    <a type="submit" class="btn btn-danger" asp-controller="Compras" asp-action="Index">Cancelar</a>
                </div>
            </form>
        </div>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

